<h1>Tboards#new</h1>
<p>Find me in app/views/tboards/new.html.erb</p>
<form action='/tboards/create'>
제목 : <input type="text" name="tboard_title"><br>
내용 : <textarea name="tboard_content"></textarea><br>
<input type="submit" value="저장">
</form>