<h1>Tboards#show</h1>
<p>Find me in app/views/tboards/show.html.erb</p>
<a href='/tboards/new'>트레이너 글쓰기</a>
<br><br>
-----------트레이너-----------<br><br>
<% @tpost.each do |tpost| %>
제목 : <%=tpost.title%><br>
내용 : <%=tpost.content%><br>
<a href='/tboards/edit/<%=tpost.id%>'>[수정]</a>
<a href='/tboards/destroy/<%=tpost.id%>'>[삭제]</a><br>
-----------------------------<br>
<% end %>