<h1>Lectures#new</h1>
<p>Find me in app/views/lectures/new.html.erb</p>

<form action='/lectures/create'>
수업일 : <input type="text" name="lecture_date"><br>
수업 내용 : <textarea name="lecture_content"></textarea><br>
총 횟수 : <input type="integer" name="lecture_total_count"><br>
수업료 : <input type="integer" name="lecture_fee"><br>
<input type="submit" value="저장">
</form>