<!--
<h1>Foods#new</h1>
<p>Find me in app/views/foods/new.html.erb</p>
-->


<form action='/foods/create'>
음식이름 : <input type='text' name='food_name'>
칼로리 : <input type='integer' name='food_calorie'>
식사 구분 : <input type='text' name='food_sort'>
<input type='submit' value='저장'>
</form>