<h1>Boards#edit</h1>
<p>Find me in app/views/boards/edit.html.erb</p>

<form action='/boards/update/<%=@post.id%>'>
제목 : <input type="text" name="board_title" value='<%=@post.title%>'><br>
내용 : <textarea name="board_content"><%=@post.content%></textarea><br>
<input type="submit" value="저장">
</form>