<!--<h1>Boards#new</h1>-->
<!--<p>Find me in app/views/boards/new.html.erb</p>-->

<h1>회원 글쓰기</h1>
<form action='/boards/create'>
제목 : <input type="text" name="board_title"><br>
내용 : <textarea name="board_content"></textarea><br>
<input type="submit" value="저장">
</form>