<h1>Boards#new</h1>
<p>Find me in app/views/boards/new.html.erb</p>

<form action='/boards/create'>
제목 : <input type="text" name="board_title"><br>
내용 : <textarea name="board_content"></textarea><br>
날짜 : <input type="integer" name="board_weather"><br>
<input type="submit" value="저장">
</form>