<h1>Exercises#new</h1>
<p>Find me in app/views/exercises/new.html.erb</p>

<form action='/exercises/create'>
제목 : <input type="text" name="exercise_title"><br>
운동 : <textarea name="exercise_exercise"></textarea><br>
식사 : <textarea name="exercise_meal"></textarea><br>
<input type="submit" value="저장">
</form>